<style>
    .debugwindow {
      width: 300px!important; 
      padding: 15px!important; 
      background: rgba(240,240,240,0.5)!important; 
      backdrop-filter: blur(9px)!important;
      line-height: 1.4!important;
      font-size: 10px!important;
      position: absolute!important;
      display: none!important;
      z-index: 999999999999999999!important;
    }
    .debugwindow table {border-spacing: 0!important;}
    .debugwindow.visible {display: block!important;}
    .debugwindow * {font-family: sans-serif!important; text-transform: none!important;}
    .debugwindow td {vertical-align: top!important;}
    .debugwindow > .debugprint > tbody > tr > td {border-top: 1px dotted rgba(0,0,0,0.35)!important; padding: 2px 15px 2px 0px!important;}
    .debugwindow th {text-align: left!important; font-weight: bold!important;}
    .debugholder {display: inline-block!important; height: 20px!important;}
    .debugholder span.toggle {display: inline-block!important; width: 20px!important; height: 20px!important; background: radial-gradient(red 30%, transparent 35%)!important; cursor: pointer!important; border-radius: 100%!important; vertical-align: top!important;}
  </style><span class="debugholder">
    <span class="toggle" onclick="this.nextElementSibling.classList.toggle('visible'); return false;"></span>
    <span class="debugwindow">
      {{ partial "debugprint" . }}
    </span>
</span>